<div class="form-margin">
  <div class="card <%= @note.bodycolor.value%>">
    <div class="card-header">
      <h1 class="display-4"><%= @note.title%></h1>
    </div>
    <div class="card-body">
      <h5 class="card-text"><%= @note.description%></h5>
      <hr class="my-4">
      <p class="card-text"><%= @note.content %></p>
    </div>
  </div>
</div>