<%= stylesheet_link_tag 'landing.css' %>
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <br>
      <h1 class="masthead-heading mb-0 text-dark">MyOwnSpace</h1>
      <h2 class="masthead-subheading mb-0 text-dark">A space for yourself</h2>
      <%= link_to 'Get started!', notes_path, class: 'btn btn-primary btn-xl rounded-pill mt-5 mb-5' %>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="img/01.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">For the productive ones</h2>
          <p>No more having separate applications for passwords, notes and calendar. Managing all that can be really time consuming. MyOwnSpace has it all, and does it all for you. Store your passwords with military-grade encryption, store your notes and share them with someone else, add events and details to your calendar.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="img/02.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">For the organized ones</h2>
          <p>Your notes and passwords can be sorted by color, update or creation date, or randomly. Want to share your notes with someone else? No problem!, with just a few clicks, they can see what you shared with them!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="img/03.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">And the unorganized ones!</h2>
          <span class="badge badge-yellow">..</span> Yellow <br>
          <span class="badge badge-black">..</span> Black <br>
          <span class="badge badge-grey">..</span> Grey <br>
          <span class="badge badge-red">..</span> Red <br>
          <span class="badge badge-green">..</span> Green <br>
          <span class="badge badge-purple">..</span> Purple <br>
          <span class="badge badge-orange">..</span> Orange <br>
          <span class="badge badge-white">..</span> White <br>
          <span class="badge badge-blue">..</span> Blue <br>
          <i class="badge badge-blue">..</i> Blue
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 
<h1>Este será el landing</h1>
<%= image_tag 'logo.png' %>
<h1>Y estará bien bueno</h1>
<span class="badge badge-yellow">..</span> Yellow <br>
<span class="badge badge-black">..</span> Black <br>
<span class="badge badge-grey">..</span> Grey <br>
<span class="badge badge-red">..</span> Red <br>
<span class="badge badge-green">..</span> Green <br>
<span class="badge badge-purple">..</span> Purple <br>
<span class="badge badge-orange">..</span> Orange <br>
<span class="badge badge-white">..</span> White <br>
<span class="badge badge-blue">..</span> Blue <br>
<i class="badge badge-blue">..</i> Blue
<br>
<br>
<div class="container-fluid rounded-top rounded-lg">
<br>
<br>
  <div class="row">
    <div class="col-sm-6">
      <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
    </div>
    <br>
    <div class="col-sm-6">
      <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
    </div>
    <br>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
    </div>
  </div>
  <br>
</div>
-->