/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

/*******************************************************************************/
/* ATTRIBUTES */

.container
{
  background-color: #F5F5F5;
}

.card-columns 
{
    @include media-breakpoint-only(lg) 
    {
      column-count: 3;
    }
    
    @include media-breakpoint-only(xl) 
    {
      column-count: 5;
    }
}

table
{
    margin-top: -2%;
}

/*******************************************************************************/
/* PROPERTIES */

.card
{
    margin-bottom: 2%;
}

.form-group
{
    padding-left: 3%;
    padding-right: 3%;
}

.form-margin
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
}

.form-params
{
    margin-left: 3%;
    margin-right: 3%;
}

.notice
{
    z-index: 1;
    color: #ffffff;
    background-color: #343A40;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.show-note-title
{
    color: #ffffff;
}

.brand-color
{
    background-image: linear-gradient(to left, #FFBA0D, #E8930C, #FF7C00, #E8560C);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dropdown-separator
{
    border-top: 1px solid #FC6E20!important;
}

.border-dropdown
{
    border-top: 1px solid #FC6E20!important;
    border-bottom: 1px solid #FC6E20!important;
    border-right: 1px solid #FC6E20!important;
    border-left: 1px solid #FC6E20!important;
}

.border-bottom-navbar
{
    border-bottom: 2px solid #FC6E20!important;
}

.border-top-footer
{
    border-top: 2px solid #FC6E20!important;
}

/*************************/
/* BODYCOLOR BADGE STYLE */
/*************************/

.badge-yellow
{
    color: #FCDF0E;
    background-color: #FCDF0E;
}

.badge-black
{
    color: #000000;
    background-color: #000000;
}

.badge-grey
{
    color: #D1D1D1;
    background-color: #D1D1D1;
}

.badge-orange
{
    color: #FCA306;
    background-color: #FCA306;
}

.badge-red
{
    color: #EE413E;
    background-color: #EE413E;
}

.badge-green
{
    color: #6EC434;
    background-color: #6EC434;
}

.badge-purple
{
    color: #7637B2;
    background-color: #7637B2;
}

.badge-white
{
    color: #FFFFFF;
    background-color: #FFFFFF;
}

.badge-blue
{
    color: #0270CB;
    background-color: #0270CB;
}

/**********************/
/* CARD BORDER COLORS */
/**********************/
.border-top-yellow
{
    border-top: 5px solid #FCDF0E!important;
}

.border-top-black
{
    border-top: 5px solid #000000!important;
}

.border-top-grey 
{
    border-top: 5px solid #D1D1D1!important;
}

.border-top-orange
{
    border-top: 5px solid #FCA306!important;
}

.border-top-red 
{
    border-top: 5px solid #EE413E!important;
}

.border-top-green
{
    border-top: 5px solid #6EC434!important;
}

.border-top-purple
{
    border-top: 5px solid #7637B2!important;
}

.border-top-white
{
    border-top: 5px solid #FFFFFF!important;
}

.border-top-blue
{
    border-top: 5px solid #0270CB!important;
}

/********************/
/* CARD BODY COLORS */
/********************/

.bg-card-yellow
{
    background-color: #FFF9BB;
}

.bg-card-black
{
    background-color: #CCCCCC;
}

.bg-card-grey
{
    background-color: #EEEEEE;
}

.bg-card-orange
{
    background-color: #FEEBDA;
}

.bg-card-red
{
    background-color: #FFE4E9;
}

.bg-card-green
{
    background-color: #E8F8DD;
}

.bg-card-purple
{
    background-color: #EEE1FF;
}

.bg-card-white
{
    background-color: #E7E7E7;
}

.bg-card-blue
{
    background-color: #E9EAFF;
}

/***************************/
/* FADED BACKGROUND COLORS */
/***************************/

.bg-faded-blue
{
    background-image: linear-gradient(to right, #0036FF, #008DEB, #0DFBFF);
}

.bg-faded-green
{
    background-image: linear-gradient(to right, #1AFF00, #01EB4C, #00FFB7);
}

.bg-faded-red
{
    background-image: linear-gradient(to right, #EB0800, #E04200, #FF5500);
}

.bg-faded-grey
{
    background-image: linear-gradient(to right, #BABFBA, #7C807C, #3E403E);
}


/****************/
/* FOOTER STYLE */
/****************/


.bg-footer
{
    color: #323232;
}

.context-dark, .bg-gray-dark, .bg-primary 
{
    color: #ffe7d0;
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active 
{
    color: #ffe7d0;
}

.nav-list li 
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before 
{
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol 
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col 
{
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before 
{
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #FC6E20;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

.social-inner:hover
{
    color: #FC6E20;
}