// Place all the styles related to the infos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
{
  background: rgb(0,0,0);
  background: linear-gradient(293deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);  
}

.container
{
  background-color: #F5F5F5;
}