<%= stylesheet_link_tag 'infos.css' %>
<% if (@infos.count == 0) %>
  <div class="container border border-secondary" style="height: 100vh;">
    <br>
    <br>
    <br>
    <h1 style="text-align: center;">It seems that you don't have any passwords stored</h1>
    <br>
    <%= link_to 'Create your first password!', new_info_path, class: 'btn btn-success btn-lg btn-xl'%>
  </div>
<% else %>
  <div class="container border border-secondary">
    <br>
    <h1 style="text-align: center;">Your passwords</h1>
    <hr>
    <div class="card-columns m-3">
      <%= render @infos %>
    </div>
    <br>
    <br>
  </div>
<% end %>