<% if (@infos.count == 0) %>
  <div class="container border border-secondary" style="height:100vh;">
    <div class="mb-3">
      <h1 style="text-align: center;">It seems that you don't have any passwords stored!</h1>
      <br>
      <%= link_to 'Create your first password!', new_info_path, class: 'btn btn-lg btn-success' %>
    </div>
  </div>
<% else %>
  <div class="container border border-secondary" style="
    <% if(@infos.count <= 3) %>
      <%= "height:100vh;" %>
    <% else %>
      <%= " " %>
    <% end %>">
    <br>
    <h1 style="text-align: center;">Your passwords</h1>
    <hr>
    <div class="card-columns m-3">
      <%= render @infos %>
    </div>
  </div>
<% end %>
